<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CEETECA?createDatabaseIfNotExist=TRUE&amp;useTimezone=true&amp;serverTimezone=UTC&amp;unicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.pool_size">5</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="models/Aluno.hbm.xml"/>
    <mapping resource="models/Advertencia.hbm.xml"/>
    <mapping resource="models/Contato.hbm.xml"/>
    <mapping resource="models/Turno.hbm.xml"/>
    <mapping resource="models/Bibliotecaria.hbm.xml"/>
    <mapping resource="models/LivroHasEmprestimo.hbm.xml"/>
    <mapping resource="models/ProfessorHasCurso.hbm.xml"/>
    <mapping resource="models/Emprestimo.hbm.xml"/>
    <mapping resource="models/Pessoa.hbm.xml"/>
    <mapping resource="models/Exemplar.hbm.xml"/>
    <mapping resource="models/Endereco.hbm.xml"/>
    <mapping resource="models/Curso.hbm.xml"/>
    <mapping resource="models/Professor.hbm.xml"/>
    <mapping resource="models/Modulo.hbm.xml"/>
    <mapping resource="models/Livro.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
